<h2>Update Your Location Host Profile:</h2>
<br>

<%= render partial: 'layouts/flash_notice', locals: {object: @host}%>

<br>
<div id="form">
<%= render partial: 'form', locals: {host: @host} %>
</div>
